main{
    flex: 1;
    padding: 20px;
}
.products{
    display: flex;
    justify-content: center;
}
.product{
    width: 250px;
    border: 1px  solid black;
    padding: 20px;
    margin-right: 10px;
}
.product img{
    width: 250px;
    max-height: 600;
    object-fit: cover;
}
.order{
    position: absolute;
    bottom: 400px;
    left: 295px;
}